/* Font importada pelo site https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* zerando css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Variaveis de cor */
:root{
    --cor-primaria: #E100FF;
    --cor-secundaria: #e651fa;
}

/* posicionando as duas sections ao lado uma da outra */
body{
    /* definindo fonte para todo o site */
    font-family: "Roboto", sans-serif;

    /* posicionei os elementos filhos um ao do outro */
    display: flex;
}

.container{
    /* definindo tamanho */
    width: 50%; /* % referente ao total do elemento pai (body)*/
    height: 100vh;  /* vh = view heigth*/

    /* Centralizando itens */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-login{
    /* defindo margem interna */
    padding: 0 3rem;
}

.img-login{
    /* definindo cor de fundo */
    background-color: var(--cor-secundaria);
    /* defindo margem interna */
    padding: 0 2rem;
}
.img-login img{
    /* definindo como 100% da largura do pai (img-login) */
    width: 100%;
}

h1{
    color: #888888; /* definindo cor de texto */ 
    text-transform: uppercase; /* define meu texto para somente letras maiusculas */
    
    text-align: center; /* centralizar o texto */
    margin-bottom: 2rem; /* margem externa */
    font-size: 2rem; /*tamanho do texto */
}

.w-100{
    /* largura de 100% */
    width: 100%;
}

form input{
    display: block; /* proximo elemento posicionado abaixo */
    width: 100%;  /* largura de 100% */
    padding: .5rem; /* margem interna */
    margin: .5rem 0; /* margem externa y x*/
}

.btn-login{
    background-color: var(--cor-primaria); /* cor de fundo */
    color: white; /* cor do texto */
    border: 0; /* removendo borda */
    font-weight: 900; /* espessura do texto 100-900*/
    text-transform: uppercase; /* define meu texto para somente letras maiusculas */
    font-size: 1rem; /*tamanho do texto */
}